:root {
  --primary-color: #701e5e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: var(--primary-color);
  color: #ffffff;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 50px;
  font-family: "Roboto", sans-serif;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.list-item img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* expand image */
  object-fit: cover;
  cursor: pointer;
}

.home,
.post,
.login {
  font-size: 20px;
  font-weight: 500;
  height: calc(100vh - 50px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  gap: 0 20px;
}

.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 600px;
}

.login-left,
.login-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-right {
  align-items: center;
  gap: 10px;
}

.login input {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 3px;
  padding: 0 10px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  border: 1px solid #000000;
}

.login button {
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 3px;
  padding: 0 10px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-color);
  color: #ffffff;
  cursor: pointer;
}

.login-forgot {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  cursor: pointer;
}

.loginButton {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 4px 0;
  cursor: pointer;
  transition: 0.3s color ease;
  padding: 10px 30px;
  border-radius: 3px;
  color: rgb(245, 245, 245);
}

.google {
  background-color: #f3b276;
}

.facebook {
  background-color: #4267b2;
}

.github {
  background-color: #333;
}

.github img {
  /* filter image to convert it only white */
  filter: grayscale(100%) brightness(0) invert(1);
}

.loginButton:hover {
  color: rgb(219, 219, 219);
}

.login .icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* expand image */
  object-fit: cover;
}

.post {
  padding: 0 50px;
}

.card {
  width: 300px;
  /* height: 300px; */
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 30px;
  font-family: "Roboto", sans-serif;
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* expand image */
  object-fit: cover;
  cursor: pointer;
}

.card p {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: justify;
}

.cardButton {
  width: 100%;
  height: 40px;
  background-color: var(--primary-color);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.link {
  color: inherit;
  text-decoration: none;
}
